
:root {
    --off-white: #ececec;
    --grey: rgb(39, 38, 38);
}

body {
    background-color: var(--grey);
    color: #ececec;
    margin: 0;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: .5rem calc((100vw - 1050px) / 2);
    font-family: 'Poppins';

    box-shadow: 0px 0px 3px black;
}
.navbar i {
    justify-self: flex-start;
    font-size: 3rem;
}
header {
    margin: 25px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header code {
    font-size: 1.5rem;
}
header p {
    margin: 0;
    font-size: .75rem;
}
.nav-link-container {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    min-width: 400px;
}
.nav-link {
    display: flex;
    justify-content: center;
    width: 100px;

    color: #c0c0c0;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 1px 2px 2px black;

    transition: all 200ms;
}
.navbar-toggler {
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navbar-hover-arrow {
    opacity: 0;
    position: absolute;
    font-size: 1rem !important;
    transform: translateY(15px);
    transition: all 400ms;
}
.navbar-toggler:hover .navbar-hover-arrow {
    opacity: 1;
    transform: translateY(35px);
}
.nav-link:hover, .navbar-toggler:hover {
    transform: scale(1.2);
    color: white;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
}
.backspace-key {
    font-size: 4rem !important;
    width: 100px;
    margin-right: -33px !important;
}
.capslock-key, .shift-key {
    font-size: 2.5rem !important;
    font-weight: 900;
}
.capslock-key {
    margin-left: -63px !important;
}
.shift-key {
    width: 96px;
    margin-left: -99px !important;
}
.spacebar-key {
    height: 65px !important;
    width: 60%;
}
.spacebar-icon {
    transform: rotate(90deg);
    font-weight: 900;
    pointer-events: none;
}
.key {
    font-family: 'Alumni Sans Pinstripe';
    background-color: var(--grey);
    cursor: pointer;
    font-size: 5rem;
    min-width: 60px;
    height: 78px;
    margin: 3px;
    border: 1px solid var(--off-white);
    border-radius: 5px;
    color: var(--off-white);
    line-height: 75%;
    opacity: 80%;
    transition: all 0.15s;
}
.key:hover {
    filter: brightness(1.3);
    transform: scale(1.05);
}
.key:active {
    filter: brightness(1.5);
    transform: scale(0.95);
    transition: scale 0.01s;
}
textarea {
    margin: 25px;
    width: 40%; height: 300px;
    background-color: var(--grey);
    color: var(--off-white);
    font-size: 2rem;
}
textarea:focus {
    outline: none;
}
.keyboard {
    margin-top: 25px;
}
@media screen and (max-width: 968px) {
    .keyboard {
        transform: scale(0.75);
    }
}